select {
	display:none;
}

.slickselect {
	display:inline-block;
	min-width:100px;
	box-sizing:border-box;
	-moz-box-sizing:border-box;
	-webkit-box-sizing:border-box;
	padding:12px 32px 6px 8px;
	border-radius:2px;
	-moz-border-radius:2px;
	-webkit-border-radius:2px;
	border:1px solid #C9C9C9;
	font-weight:bold;
	font-size:14px;
	line-height:1em;
	position:relative;
	z-index:1;
	cursor:pointer;
	color:#666666;
	-webkit-touch-callout:none;
    user-select:none;
    -moz-user-select:none;
    -webkit-user-select:none;
    -ms-user-select:none;
	box-shadow: inset 0 1px 0 0 white;
	-moz-box-shadow:inset 0 1px 0 0 white;
	-webkit-box-shadow:inset 0 1px 0 0 white;
	background:#F0F2F2;
	background:linear-gradient(to bottom, #F0F2F2 0%, #DBDDDD 100%);
	background:-moz-linear-gradient(top, #F0F2F2 0%, #DBDDDD 100%);
	background:-webkit-linear-gradient(top, #F0F2F2 0%, #DBDDDD 100%);
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0%, #F0F2F2), color-stop(100%, #DBDDDD));
	background:-ms-linear-gradient(top, #F0F2F2 0%, #DBDDDD 100%);
}

.slickselect:before {
	content:"";
	display:block;
	border-top:6px solid #666666;
	border-left:4px solid transparent;
	border-right:4px solid transparent;
	position:absolute;
	top:50%;
	right:8px;
}

.slickselect:focus {
	background:#DBDDDD;
	background:linear-gradient(to bottom, #DBDDDD 0%, #F0F2F2 100%);
	background:-moz-linear-gradient(top, #DBDDDD 0%, #F0F2F2 100%);
	background:-webkit-linear-gradient(top, #DBDDDD 0%, #F0F2F2 100%);
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0%, #DBDDDD), color-stop(100%, #F0F2F2));
	background:-ms-linear-gradient(top, #DBDDDD 0%, #F0F2F2 100%);
}

.slickselect.slickselect-open ul {
	display:block;
}

.slickselect ul {
	display:none;
	background-color:#F0F2F2;
	position:absolute;
	top:100%;
	left:-1px;
	border-radius:2px;
	-moz-border-radius:2px;
	-webkit-border-radius:2px;
	border:1px solid #C9C9C9;
	width:100%;
	overflow:hidden;
}

.slickselect ul li {
	padding:8px 32px 8px 8px;
}

.slickselect ul li:hover {
	background-color:#DBDDDD;
}
		
.slickselect ul li.slickselect-key-highlight {
	background-color:#DBDDFF;
}